__pycache__
venv
flowcharts
/John stuff.py
/*.txt
/*.lp
/*.xls*
/redundant
/Output
/.spyproject
/flowcharts
/Results Archive
/*.dia
/*.pkl
/*.npy
/Crop sim.xlsx
/Michael code ideas.py
/.pylint.d
/.idea
