__pycache__
*/__pycache__
/.idea
venv
flowcharts
/redundant
/Output
/pkl
/docs/_build
/docs/_static
/docs/_templates
/John stuff.py
/*.txt
/*.lp
/*.xls*
*/*.xlsm
/log
/.spyproject
/flowcharts
/Archive*
/*.dia
*/*.pkl
/*.npy
/Crop sim.xlsx
*/Michael code ideas.py
/.pylint.d
/*.json
/*.csv
/*.jpg

